.page-header a.btn.page-headerButton {
	display: none;
}

#pop-in {
	display: none;
}

iframe#iFrameResizer0 {
	display: none;
}

nav.page-mobileMenuNav a.btn.btn--fill {
	display: none;
}

.page-headerSearchContainer {
	display: none;
}

aside.article-shareContainer {
	display: none;
}

aside.news-sidebar.section.section--small,
select#sort-by {
	display: none;
}